<div
  style="
    padding: 20px;
    padding-left: 300px;
    padding-right: 300px;
    background-color: whitesmoke;
  "
>
  <p-card header="header">
    <form action="">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="firstname1">Date</label>
          <p-calendar></p-calendar>
        </div>
        <div class="p-field p-col">
          <label for="firstname1">Work Location</label>
          <input id="firstname1" type="text" pInputText />
        </div>
      </div>
      <div class="p-fluid">
        <div class="p-field">
          <label for="lastname1">Out of Plan</label>
          <input id="lastname1" type="text" pInputText />
        </div>
        <div class="p-field">
          <label for="lastname1">Description</label>
          <textarea pInputTextarea></textarea>
        </div>
      </div>
    </form>
  </p-card>
  <br /><br />
  <p-card header="Transportation Fee">
    <form action="">
      <div class="p-fluid">
        <div class="p-field">
          <label for="firstname1">Public/Private Transportation</label>
          <input id="firstname1" type="text" pInputText />
        </div>
        <div class="p-field">
          <label for="firstname1">Bus</label>
          <input id="firstname1" type="text" pInputText />
        </div>
        <div class="p-field">
          <label for="lastname1">Own Motobike or Car</label>
          <input id="lastname1" type="text" pInputText />
        </div>

        <div class="p-field">
          <label for="lastname1">Taxi Car</label>
          <input id="lastname1" type="text" pInputText />
        </div>
      </div>
      <div>
        <div class="p-fluid">
          <h5>Moto Taxi</h5>
          <div class="p-field">
            <label for="lastname1">Home to Bus Station</label>
            <input id="lastname1" type="text" pInputText />
          </div>
          <div class="p-field">
            <label for="lastname1">Bus Station to Factory</label>
            <input id="lastname1" type="text" pInputText />
          </div>
          <div class="p-field">
            <label for="lastname1">Hotel to factory</label>
            <input id="lastname1" type="text" pInputText />
          </div>
        </div>
      </div>
    </form>
  </p-card>
  <br /><br />
  <p-card header="Accommodation & Food">
    <form action="">
      <div class="p-fluid">
        <div class="p-field">
          <label for="lastname1">Food allowance</label>
          <input id="lastname1" type="text" pInputText />
        </div>
      </div>
      <div>
        <div class="p-fluid">
          <h5>Hotel (VND)</h5>
          <div class="p-field">
            <label for="lastname1">No: of Heads/Room</label>
            <input id="lastname1" type="text" pInputText />
          </div>
          <div class="p-field">
            <label for="lastname1">Hotel Amount (VND)</label>
            <input id="lastname1" type="text" pInputText />
          </div>
        </div>
      </div>

      <div>
        <div class="p-fluid">
          <h5>Taking Care Buyer (VND)</h5>
          <div class="p-field">
            <label for="lastname1">Host / Name</label>
            <input id="lastname1" type="text" pInputText />
          </div>
          <div class="p-field">
            <label for="lastname1">Amount (VND)</label>
            <input id="lastname1" type="text" pInputText />
          </div>
        </div>
      </div>

      <div>
        <div class="p-fluid">
          <h5>Other (VND)</h5>
          <div class="p-field">
            <label for="lastname1">Description</label>
            <textarea pInputTextarea></textarea>
          </div>
          <div class="p-field">
            <label for="lastname1">Amount</label>
            <input id="lastname1" type="text" pInputText />
          </div>
        </div>
      </div>
      <div style="padding: 10px; padding-top: 20px">
        <button pButton type="button" label="Submit"></button>
      </div>
    </form>
  </p-card>
</div>
